<!DOCTYPE html>
<html>
    <head>
        <title>Sports Heaven</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('header') %>

    <div method="post" class="container">
      <div>
          <center><h1>Cursos</h1></center>
          <div class="mb-3 mt-3">
              <nav class="navbar bg-light">
                  <div class="container-fluid">
                    <a class="btn btn-success" href="cursos">Crear curso</a>
                  </div>
                </nav>
        </div>
        <table class="table table-hover">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Deporte</th>
                  <th>Descripcion</th>
                  <th>Precio</th>
                  <th>Calificacion</th>
                  <th>Acciones</th>

              </tr>
          </thead>
          <tbody>
              <% cursos.forEach( (curso) => { %>
                  <tr>
                      <td><%= curso.id %></td>
                      <td><%= curso.nombre %></td>
                      <td><%= curso.deporte%></td>
                      <td><%= curso.descripcion%></td>
                      <td><%= curso.precio%></td>
                      <td><%= curso.calificacion%></td>
                      <td>
                          <a class="btn btn-success" href="/modificarcursos">Modificar curso</a>
                          <a class="btn btn-success" href="">Eliminar curso</a>
                      </td>
                  </tr>
              <% }) %>
          </tbody>
      </table>
    </div>
    
        <%- include('footer')%>
    </body>
</html>