<!DOCTYPE html>
<html>
    <head>
        <title>Sports Heaven</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/icons/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('header') %>

    <div method="post" class="container">
      <div>
          <center><h1>Cursos</h1></center>
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3500">
                <img src="/icons/futbol.jpg" class="d-block w-100" style="width: 100px; height: 300px" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="/icons/basket.jpg" class="d-block w-100" style="width: 10px; height: 300px" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="/icons/voley.jpg" class="d-block w-100" style="width: 100px; height: 300px" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/icons/pingpong.jpg" class="d-block w-100" style="width: 100px; height: 300px" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="row mb-3 mt-3">
          <tbody>
            <% cursos.forEach( (curso) => { %>
              <div class="card ms-5 mb-3" style="width: 18rem;">
                  <div class="card-body">
                    <p class="card-text">Id: <%= curso.id %></p>
                    <h5 class="card-title"><%= curso.nombre %></h5>
                    <p class="card-text">Deporte: <%= curso.deporte%></p>
                    <p class="card-text">Descripcion: <%= curso.descripcion%></p>
                    <p class="card-text">Precio: <%= curso.precio%></p>
                    <p class="card-text">Calificacion: <%= curso.calificacion%></p>
                    <a href="https://drive.google.com/drive/folders/1Z3FyzinELPogrwT4Zpp72eaIGhB_r6XB?usp=sharing" class="btn btn-success" data-id="<%= curso.id %>">Unirse a curso</a>
                    <a class="btn btn-warning" href="/listacurso/modificarcalificacioncurso/<%= curso.id %>">Modificar calificacion de curso</a>
                  </div>
              </div>
            <% }) %>
          </tbody>
        </div>
    </div>
    
        <%- include('footer')%>
    </body>
</html>