<!DOCTYPE html>
<html>
    <head>
        <title>Sports Heaven</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('header')  %>

    <body class="container">
        <h2>Editar Evento</h2>
        <form method="post" action="/evento/modificar">
        <input type="hidden" name="evento_id" value="<%= evento.id %>" /> 

            <div>
                <label class="form-label">Nombre del evento:</label>
                <input name="evento_fecha" type="datetime" class="form-control" value="<%= evento.nombre %>"/>
            </div>
            <div>
                <label class="form-label">Fecha del evento:</label>
                <input name="evento_duracion" type="number" class="form-control" value="<%= evento.fecha %>"/>
            </div>
            <div>
                <label class="form-label">Hora del evento:</label>
                <input name="evento_hora" type="text" class="form-control" value="<%= evento.hora %>"/>
            </div>
            <div>
                <label class="form-label">Ubicación del evento:</label>
                <input name="evento_ubicacion" type="text" class="form-control" value="<%= evento.ubicacion %>"/>
            </div>
            <div>
                <label class="form-label">Descripción del evento:</label>
                <input name="evento_descripcion" type="text" class="form-control" value="<%= evento.descripcion %>"/>
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
            <a id= "btnRegresar" class="btn btn-primary">Cancelar</a>
        <%- include('footer') %>
        <script  src="/js/regresar.js"></script>  
    </body>
</html>